# SPDX-FileCopyrightText: 2026 LibreCode coop and contributors
# SPDX-License-Identifier: AGPL-3.0-or-later

/vendor/
/vendor-bin/**/vendor/
/.phpunit.result.cache
/infection.log
/infection-results/
/coverage/
/build/
/.php-cs-fixer.cache
/.deptrac.cache
